body{
    font-family: 'Outfit', sans-serif;;
}

.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    margin: auto;
}

.leaflet-container {
    width: 75%;
    height: 80vh;
    border-radius: 10px;
  }

.map{
    display: flex;
    justify-content: center;
}