*{
    margin: 0;
	padding: 0;
	border: 0;
}

body{
    font-family: 'Outfit', sans-serif;
}

.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    margin: auto;
    margin-bottom: 0.6rem; 
    margin-top: 0.5rem; 
}

.leaflet-container {
    width: 75%;
    height: 80vh;
    border-radius: 10px;
  }

.map{
    display: flex;
    justify-content: center;
    background: transparent;
}

.Circleitem{
    border-radius: 100px;
}

.popup{
    box-sizing: border-box;
}

.card{
    text-align: center;
}